.wrapper
  .sideBar
    .sideBar__userName
      .sideBar__userName__topItems
        .sideBar__userName__topItems__name
          masa
        .sideBar__userName__topItems__icons
          = link_to "#", class: "sideBar__userName__topItems__icons--icon" do
            = icon('fas', 'edit')
          = link_to "#", class: "sideBar__userName__topItems__icons--icon" do
            = icon("fas", "cog")
    .sideBar__groupList
      .sideBar__groupList__topItems
        .sideBar__groupList_topItems--name
          techcamp
        .sideBar__groupList__topItems--message
          まだメッセージがありません